<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 全局的设置-->
  <settings>
    <!-- 开启缓存 -->
    <setting name="cacheEnabled" value="true"/>
    <!-- 启用延迟加载功能 -->
    <setting name="lazyLoadingEnabled" value="true"/>
    <!-- 按需要延迟加载-->
    <setting name="aggressiveLazyLoading" value="false"/>
    <!-- 开启驼峰映射 (方便自动映射) -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
</configuration>